@charset "UTF-8";
@font-face {
  font-family: LadyCaptainFont;
  src: url("../assets/LadyCaptainFont.otf") format("opentype");
}
body {
  font-family: "LadyCaptainFont", "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: #fff4ef;
  color: #2B3061;
  line-height: 1.7;
}

.shell-bg {
  background-color: #fff4ef;
  background-image: url("../assets/LC-Anchor-Coral-Pink.png");
  background-position-x: center;
  background-position-y: 90vh;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

input {
  border: 1px solid #707070;
  box-shadow: none;
  font-size: 1.1em;
  padding: 20px 30px 20px 10px;
  font-family: "LadyCaptainFont", "Montserrat", sans-serif;
  margin-bottom: auto;
  border-radius: 0;
  background-color: transparent;
  font-weight: normal;
  color: #707070;
}
input#mc-embedded-subscribe {
  background-color: transparent;
  border-radius: 0;
  border-width: 1px 1px 1px 0;
  text-transform: uppercase;
  color: #000;
  padding: 20px 30px;
}
h1 {
  display: none;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
  padding-top: 0;
}

a {
  color: #000;
}

a:hover {
  color: #b63024;
}

@media only screen and (max-width: 600px) {
  input {
    margin-bottom: 20px;
  }
}
a.button {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 10px 10px 30px;
  margin: 0;
  width: 50%;
  text-align: left;
  font-size: 0.7em;
  position: relative;
}
a.button.instagram::before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2em;
  position: absolute;
  left: 0;
  top: 2px;
}
a.button.email::before {
  content: "";
  font-family: "FontAwesome";
  font-size: 1.6em;
  position: absolute;
  left: 0;
  top: 2px;
}
a.button:hover {
  color: #b63024;
}

/* Media Queries */
@media only screen and (max-width: 860px) {
  .body-wrapper {
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }
  .body-wrapper img {
    width: 80%;
    height: auto;
  }
}
@media only screen and (min-width: 861px) and (max-width: 1399px) {
  .body-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .body-wrapper img {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 1399px) {
  .column-2 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .column-4 {
    width: 50%;
    float: left;
    text-align: center;
  }
}
@media only screen and (min-width: 1400px) {
  .body-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .body-wrapper img {
    width: 80%;
    height: auto;
  }

  .column-2 {
    width: 50%;
    float: left;
    text-align: left;
  }

  .column-4 {
    width: 20%;
    float: left;
    text-align: left;
    margin-left: 0;
  }
}
